# This configuration file follows the YAML format (www.yaml.org)
# Please note that the indentation used is 4 spaces.

# input
x_train: data/sentence-level/features/en_de/sentence_features/train.nmt.features
y_train: data/sentence-level/sentence_level/en_de/train.nmt.hter
x_test: data/sentence-level/features/en_de/sentence_features/dev.nmt.features
y_test: data/sentence-level/sentence_level/en_de/dev.nmt.hter


scale: false
separator: "\t"

feature_selection:
    method: LinearSVC
#    parameters:
#        cv: 10

# learning
learning:
    method: SVC
#    optimize:
#        #kernel: [linear, rbf, poly]
#        kernel: [rbf]
#        # begin, end, number of samples to generate
#        C: [1, 10, 2]
#        gamma: [0.0001, 0.01, 2]
#        epsilon: [0.1, 0.2, 2]
#        cv: 3
#        n_jobs: 1
#        verbose: True
#
    scorer: [mae, rmse]
#
#    parameters:
#        C: 10
#        gamma: 0.0034
#        epsilon: 0.18
